*.bin
*.dat
*.pyc
*.whl
*.egg-info
*.log

*/imu_data
tests/data
ota/*

*.DS_Store
.vscode
.idea

/cvt_measurement/build/
/cvt_measurement/cvt_measurement.egg-info/
/cvt_measurement/dist/

/tcpbroker/build/
/tcpbroker/dist/
